@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Faster+One&family=Nosifer&family=Oleo+Script&family=Rye&family=Staatliches&display=swap");

:root {
  font-size: 62.5%; /* 62.5% */

  --textColor: rgb(223, 223, 223);
  --textColor2: rgb(43, 42, 42);
  --textColorHover: rgba(31, 31, 31, 0.5);

  --buttonColor: rgb(156, 156, 156);
  --buttonColorHover: rgba(156, 156, 156, 0.2);
  --buttonColorClick: rgb(175, 175, 175);

  /* --bgColor: #314455;
  --bgContent: #c96567;
  --bodyBgColor: #c96567; */

  --bgColor: #a54244;
  --bgContent: #314455;
  --bodyBgColor: #314455;

  --comicFont: "Bangers", cursive;
  --sciFiFont: "Faster One", cursive;
  --horrorFont: "Nosifer", cursive;
  --sweetFont: "Oleo Script", cursive;
  --westernFont: "Rye", cursive;
  --standartFont: "Staatliches", cursive;
}

body {
  margin: 0;
  padding: 0;

  font-size: 2.5rem;

  color: var(--textColor);
  background-color: var(--bodyBgColor);

  font-family: var(--standartFont);
}

/**********************************/
/*    ***       HEADER    ***     */
/**********************************/

.headerDiv {
  background: var(--bgColor);
  background-size: cover;
  text-align: center;
}

.headlineDiv > h1 {
  margin: 0;
}

.headlineNavLink {
  text-decoration-color: transparent;
  color: var(--textColor);

  font-size: 15rem;

  margin: 0;
  padding: 1rem;
}

.headerNavbar {
  display: flex;
  justify-content: center;
}

.navLink {
  display: inline-block;

  text-decoration-color: transparent;
  color: var(--textColor);

  text-align: center;

  border: 1px solid var(--textColor);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;

  margin: 0 1rem;
  width: 17rem;
  padding: 1rem 2rem;

  transition: 250ms;
}

.navLink:hover {
  background-color: var(--buttonColor);
  box-shadow: inset 0 0 5px var(--textColorHover);
}

.headerNavbar > .active {
  background-color: var(--bgContent);
}

.active:hover {
  box-shadow: none;
  cursor: default;
}

.userNameHeader {
  width: 30rem;
  position: absolute;
  top: 0;
  right: 0;
}

.userNameHeader > p {
  margin: 0;
  margin-top: 1rem;
}

.userNameHeader > input {
  border: 1px solid gray;
  border-radius: 0.5rem;

  padding: 0.5rem 1rem;
  width: 15rem;
  margin-top: 1rem;

  background-color: var(--buttonColorHover);

  cursor: pointer;

  font-family: inherit;

  font-size: 1.5rem;
  letter-spacing: 0.5rem;

  transition: 150ms;
}

.userNameHeader > input:hover {
  letter-spacing: 0.7rem;
  background-color: var(--buttonColor);
}

.userNameHeader > input:active {
  letter-spacing: 0.25rem;
  background-color: var(--buttonColorClick);
}

/**********************************/
/*    ***       FOOTER    ***     */
/**********************************/

.footerComp {
  width: 100%;
  padding: 1rem 0;

  display: flex;
  justify-content: center;

  background-color: var(--bgColor);
}

.footerDiv {
  width: 40%;

  display: flex;
  justify-content: space-around;
}

.footerDiv > a {
  margin: auto 0;

  text-decoration: none;
  color: var(--textColor);
}

.footerDiv > a:hover {
  text-shadow: 0 0 5px var(--textColorHover);
}

.socialMediaDiv {
  display: flex;
  justify-content: space-between;

  width: 15%;
  padding: 0.5rem;
}

.socialMediaDiv > a {
  text-decoration: none;
  color: var(--textColorh);
}

.socialMediaDiv > a:hover {
  text-shadow: 0 0 5px var(--textColorHover);
}

/**********************************/
/*    ***       Main      ***     */
/**********************************/

.loginForm {
  width: 50%;
  margin: 2rem auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

/**********************************/
/*    ***       MODAL     ***     */
/**********************************/

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.75);
}

.innerModal {
  background-color: var(--bgContent);
  width: fit-content;
  height: 35%;
  margin: auto;
  margin-top: 10%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.modalElement {
  margin: 0 auto;
  margin-top: 3rem;
  width: 80%;
  padding: 1rem 2rem;

  border-radius: 1rem;
  border: 1px solid var(--textColor);

  font-family: var(--standartFont);
  letter-spacing: 0.25rem;
  font-size: 2rem;
}

.modalBtn {
  width: 90%;
  background-color: rgb(221, 150, 150);
  cursor: pointer;

  transition: 150ms;
}

.modalBtn:hover {
  letter-spacing: 0.5rem;
  background-color: rgb(221, 127, 127);
}

.modalBtn:active {
  letter-spacing: 0.05rem;
  background-color: rgb(228, 91, 91);
}

/**********************************/
/*    ***       Main      ***     */
/**********************************/

.mainContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 5%;
  border: 6px solid black;
  padding: 40px 20px;
  border-radius: 5px;
}

/**********************************/
/*    ***    Caroussel    ***     */
/**********************************/

.carousselPicture {
  position: absolute;
  height: 375px;
  /* transform: translateX(-250px); */
}

.carousselTitle {
  margin: 0;
}

.fadeinright-animation {
  animation: fadeInRight 1.2s ease-in-out forwards;
}

.fadeoutright-animation {
  animation: fadeOutRight 1.2s ease-in-out forwards;
}

.fadeinleft-animation {
  animation: fadeOutLeft 1.2s ease-in-out forwards;
}

.fadeoutleft-animation {
  animation: fadeInLeft 1.2s ease-in-out forwards;
}

.caroussel {
  overflow: hidden;
  width: 250px;
  height: 375px;
  position: relative;
}
.carousselFrame {
  display: flex;
}

.carousselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-250px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(250px);
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(250px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-250px);
  }
}

.hidden {
  display: none;
}

.carousselButton {
  background-color: var(--bodyBgColor);
  border: none;
  font-size: 2.5rem;
}

.carousselButton:hover {
  background-color: var(--buttonColorHover);
}

.carousselButton:active {
  border: 1px solid black;
}

/**************************************/
/*    ***    MEDIAQUERRIES    ***     */
/**************************************/

@media only screen and (max-width: 430px) {
  .headlineNavLink {
    font-size: 8rem;
  }

  .navLink {
    font-size: 0.5em;

    padding: 0.25em 0.5em;
    margin: 0;

    border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialMediaDiv {
    width: 25%;
  }

  .userNameHeader {
    width: 80% !important;
    position: static !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around !important;
    align-items: center;
    margin: 1rem auto;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .footerDiv {
    width: 100%;
  }

  .userNameHeader {
    font-size: 2rem;
    width: 20rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  body {
    overflow-x: hidden;
  }
  /**********************************/
  /*    ***       Hot    ***     */
  /**********************************/

  .hotFilmsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 30px;
    justify-content: center;
    margin: 2% auto;
  }

  .hotNavLink {
    text-decoration: none;
  }

  .hotCard {
    height: 450px;
    width: 300px;
    background-size: contain;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 450ms ease-out;
    -webkit-box-shadow: 0px 0px 19px -4px #000000;
    box-shadow: 0px 0px 19px -4px #000000;
  }

  .hotCard:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 5px 19px 2px #000000;
    box-shadow: 0px 5px 19px 2px #000000;
  }

  .hotCard:hover .card-content {
    transform: translateY(-170px);
    opacity: 1;
  }

  .card-content {
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    top: 440px;
    padding: 30px;
    background-color: #97aabd;
    opacity: 0.3;
    color: white;
    transition: 1000ms;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hotPoints {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}
